* {
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    padding: 0;

}



body {
    font-family: Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.tres img {
    width: 180px;
    position: absolute;
    right: 59%;

}

.area {
    background-color: #161616;
    color: #D4AF37;
    width: 100%;
    height: 65px;
}

.um {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.um h1 {
    font-family: 'Pirata One', cursive;
    font-size: 52px;
    margin-bottom: 10px;
}

.um h2 {
    font-family: 'Pirata One', cursive;

}

.dois {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 25px;
}

.dois ul {
    list-style: none;
    display: flex
}

.dois li {
    font-size: 24px;
    margin: 20px;

}

.dois a {
    color: #cccccc;
    transition: 0.9s;
}

.dois a:hover {
    color: #D4AF37;
}

/*fim do header*/

.main {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.foto {
    position: absolute;
    inset: 0;
    background-image: url("fundo.jpg");
    background-size: cover;
    background-position: center;
    filter: brightness(0.2);
    /* escurece sem apagar */
    z-index: 0;

}

.fotobarbeiro {
    position: absolute;
    inset: 0;
    background-image: url("barbeiro 1.png");
    top: -3%;
    left: 22%;
    background-repeat: no-repeat;
    filter: brightness(0.3);
    background-size: 1050px;
    z-index: 2;

}

.bemvindo {
    position: absolute;
    top: 40%;
    left: 12%;
    text-align: start;
    z-index: 4;

}

.bemvindo h3 {
    font-size: 45px;
    font-weight: bold;
    color: white;
}

.bemvindo p {
    color: #D4AF37;
    font-style: italic;
}

/*fim do main*/

.serviços {
    background-color: #151515;
    width: 100%;
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.corte {
    width: 300px;
    margin-top: 10px;
    height: 300px;
    border: #D4AF37 solid 2px;
    border-radius: 4px;
    padding: 30px;
    margin-left: 25px;
    text-align: center;
    transition: 0.9s;
}

.corte{
    background-image: url(cabelo1.png);
    background-size: contain;
    background-repeat: no-repeat;
      filter: brightness(0.8);
      opacity: 0.7;
   
}

.corte h1{
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 10px;
}

.corte p {
    color: #FFFFFF;
    }

    .corte h2{
        margin-top: 100px;
        color: #D4AF37;
        font-size: 50px;
    }

.corte:hover{
    transform: scale(1.5);
      filter: brightness(1);
      opacity: 1;
}

.barba {
    width: 300px;
    margin-top: 10px;
    height: 300px;
    border: #D4AF37 solid 2px;
    border-radius: 4px;
    padding: 30px;
    margin-left: 25px;
    text-align: center;
    transition: 0.9s;
}

.barba{
    background-image: url(barba1.png);
    background-size: contain;
    background-repeat: no-repeat;
      filter: brightness(0.8);
      opacity: 0.7;
      z-index: 0;
   
}

.barba h1{
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 10px;
    z-index: 1;
}

.barba p {
    color: #FFFFFF;
    z-index: 1;
    }

    .barba h2{
        margin-top: 100px;
        color: #D4AF37;
        font-size: 50px;
        z-index: 1;
    }

.barba:hover{
    transform: scale(1.5);
      filter: brightness(1);
      opacity: 1;
}
.pacote {
    width: 300px;
    margin-top: 10px;
    height: 300px;
    border: #D4AF37 solid 2px;
    border-radius: 4px;
    padding: 30px;
    margin-left: 25px;
    text-align: center;
    transition: 0.9s;
}

.pacote{
    background-image: url(pacote1.png);
    background-size: contain;
    background-repeat: no-repeat;
      filter: brightness(0.8);
      opacity: 0.7;
      z-index: 0;
   
}

.pacote h1{
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 10px;
    z-index: 1;
}

.pacote p {
    color: #FFFFFF;
    z-index: 1;
    }

    .pacote h2{
        margin-top: 100px;
        color: #D4AF37;
        font-size: 50px;
        z-index: 1;
    }

.pacote:hover{
    transform: scale(1.5);
      filter: brightness(1);
      opacity: 1;
}

/*FIM DOS SERVIÇOS*/

.rodape{
    background-color: #151515;
    height:240px ;
      width: 100%;
}

.container{
    background-color: #151515;
    border-top: #D4AF37 solid 3px;
    border-bottom: #D4AF37 solid 3px;
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFFFFF;
}

.endereço{font-size: 24px;

}

.horario{
    font-size: 24px;
}

